<!DOCTYPE html>
<html lang="zh-Hands">
<head>
  <meta charset="UTF-8">
  <title>reversi</title>
  <link rel="stylesheet" href="ui.css">
  <link rel="stylesheet" href="../node_modules/angular-sweetalert/node_modules/sweetalert/lib/sweet-alert.css">
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../node_modules/angular-sweetalert/SweetAlert.js"></script>
<script type="text/javascript" src="../node_modules/angular-sweetalert/node_modules/sweetalert/lib/sweet-alert.min.js"></script>
<script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="./handler.js"></script>
<script type="text/javascript" src="../node_modules/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="../node_modules/angular-h-sweetalert/dist/ngSweetAlert.js"></script>
</head>
<body ng-app="app" ng-controller="main">
  <div id="error" ng-if="error">
    <p>出错了。。。</p>
  </div>
<div id="login" ng-if="!flag.isLogin">
  <h2>登陆</h2>
  <form ng-submit="login()">
    <label>
      <input type="text" ng-model="user.username" placeholder="您的昵称" autofocus>
      <br>
      <input type="text" ng-model="user.password" placeholder="密码(非管理员留空)" autofocus>
      <br>
      <input type="text" ng-model="user.addr" placeholder="127.0.0.1:3106">
      <br>
      <input type="submit" value="login">
    </label>
  </form>
</div>
<div id="container" ng-if="flag.isLogin">
<div id="sidebar">
  <ul id="userlist" ng-if="currentNavigation=='user'">
    <li ng-repeat="user in userList track by $index" class="free-{{user.free}}">
      {{user.username}}
      <small  class="status">{{user.status}}</small>
      <small class="sidebarbutton" ng-if="flag.isRoot" ng-click="kickOut(user.username)">踢了他</small>
    </li>
  </ul>
  <ul id="gamelist" ng-if="currentNavigation=='games'">
    <li ng-repeat="game in gameList track by $index" class="free-{{game.free}}">
      {{game.gamename}}
      <small  class="status">{{game.status}}</small>
      <small class="sidebarbutton" ng-if="!flag.isRoot" ng-click="join(game.gamename)">加入</small>
      <small class="sidebarbutton" ng-if="flag.isRoot" ng-click="watch(game.gamename)">观战</small>
      <small class="sidebarbutton" ng-if="flag.isRoot" ng-click="cmd.closegame=game.gamename;closegame()">关闭房间</small>
    </li>
  </ul>
  <ul id="navigation">
    <li ng-click="list()" class="user user-{{currentNavigation=='user'}}">user</li>
    <li ng-click="games()" class="games games-{{currentNavigation=='games'}}">games</li>
  </ul>
</div>
<div id="center">
<div id="reserve">
  <input ng-if="flag.isRoot" type="submit" class="button" value="openGame" ng-click="flag.showOpenGamePannel=true;flag.showMessagePannel=false">
  <button type="submit" name="ready"  ng-if="!flag.isRoot" ng-click="ready()" class="button">ready</button>
  <button type="submit" name="leave" ng-click="leave()" class="button">leave</button>
  <button type="submit" name="message"  ng-if="flag.isRoot" ng-click="flag.showMessagePannel=true;flag.showOpenGamePannel=false" class="button">message</button>
  <form ng-if="flag.showOpenGamePannel" ng-submit="openGame()">
    <label>
      <input type="text" ng-model="cmd.opengame" placeholder="输入游戏的名字" autofocus>
      <br>
      <input type="submit" value="创建房间" class="button">
    </label>
  </form>
  <form ng-if="flag.showMessagePannel" ng-submit="message()">
    <label>
      <input type="text" ng-model="cmd.msg.user" placeholder="用户名，留空为全体用户" autofocus>
      <br>
      <input type="text" ng-model="cmd.msg.message" placeholder="消息内容" autofocus>
      <br>
      <input type="submit" value="发送信息" class="button" >
    </label>
  </form>
  <button type="submit" name="ready"  ng-if="!flag.isRoot" ng-click="restart()" class="button">restart</button>
  <img class="yourcolor" ng-if="game.color=='black'" src="./black.png" alt=""/ >
  <img  ng-if="game.color=='white'" src="./white.png" alt="" class="yourcolor"/ >
</div>
<div id="mapContainer">
  <table id="chessboard">
    <tr ng-repeat="row in board track by $index">
      <td  ng-repeat="cell in row track by $index" ng-click="move($parent.$index,$index)">
        <img class="point" ng-if="cell==0" src="./black.png" alt=""/ >
        <img  ng-if="cell==1" src="./white.png" alt="" class="point"/ >
      </td>
    </tr>
  </table>
</div>
</div>
</div>
</body>
</html>
