
body {
  height: 409px;
  width: 500px;
  margin: 0;
  font-family: helvetica, sans-serif;
}
#center{
  position: relative;
  width: 328px;
  height: 409px;
}
#login{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}
#login h2{
  padding-top: 5em;
}
#login input[type=text]{
  line-height: 120%;
  padding:2px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  font-size: 15px;
  font-family: initial;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #9A9A9A;
  outline: none;
  -webkit-appearance: none;
}
#login input[type=submit]{
  margin-top: 30px;
  width:150px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-family: inherit;
  color: white;
  background-color: dodgerblue;
  -webkit-appearance: none;
}

#container{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  height: 100%;
}
#mapContainer{
  /*padding-top: 5em;*/
  position: absolute;
  height:329px;
  width:329px;
  margin: 0 0 0 0;
  bottom: 0px;
}
#chessboard{
  background-color: #FAD388;
  border-collapse:collapse;
  table-layout: fixed;
}
#chessboard td{
  /*border:1px solid #553D16;*/
  border:1px solid  #B78027;
  padding: 0px 0px 0px 0px;
  height:40px;
  width:40px;
}
#sidebar {
  position: relative;
  padding-top: 5em;
  width: 171px;
  height: 329px;
  background-color: cornsilk;
}
#userlist li,#gamelist li{
  text-align:left;
  margin: -1px 0 0 0;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #d9d9d9;
  font-size: 11px;
}
#sidebar ul li:hover > .sidebarbutton {
  display: inline-block;
  margin-right: 10px;
  float: right;
  font-family: fantasy;
}
.sidebarbutton{
  list-style: none;
  display: none;

}

#userlist,#gamelist{
  font-family: fantasy;
  width: 100%;
  padding-left: 0px;
  margin-top: 1px;
}
#sidebar .status{
  display: inline-block;
  float: right;
  font-family: fantasy;
  color:green;
}
#navigation{
  position: absolute;
  width: 100%;
  padding-left: 0px;
  bottom: 0px;
  margin-bottom: 0;
  font-family: fantasy;
}
#navigation li{
  cursor: pointer;
  list-style: none;
  width: 50%;
  height: 20px;
  text-align: center;
}
#reserve{
  position: relative;
}
#reserve .button{
  margin-top: 4px;
  margin-left: 2px;
  float: left;
  border: none;
  border-radius: 5px;
  width: 90px;
  background-color: bisque;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}
.username{
  color:#C1C1C1;
  padding: 2px 6px;
  float: right;
}
.user{
  float: left;
  margin-left: -1px;
  border-left: 0;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  bottom: 0px;
  color: burlywood;
  background-color: floralwhite;
}
.games{
  float: right;
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: solid;
  bottom: 0px;
  background-color: floralwhite;
  color: burlywood;
}
.games-true{
  margin-top: 1px;
  border-top: 0px;
  background-color: cornsilk;
}
.user-true{
  margin-top: 1px;
  border-top: 0px;
  background-color: cornsilk;
}

li.free-true,li.free-false{
  margin: 0;
  padding: 4px 7px 4px 5px;
  cursor: pointer;
  background: #fff;
  display: block;
}
li.free-true:hover,li.free-false:hover{
  background: #F2F2F5;
}

img.point {
    position: relative;
    top: 2.5px;
    left: 2.5px;
}

img.yourcolor{
  position: absolute;
  top: 40px;
  right: 0px;
}
.round{
  position: absolute;
  left: 5px;
  top: 50px;
  font-family: fantasy;
}
